*, *::before, *::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.header {
    position: fixed;
    z-index: 50;
    left: 0;
    top: 0;
    width: 100%;
}

.header::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    background-color: #5e5373;
}

.header__body {
    height: 80px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    flex: 0 0 60px;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    z-index: 3;
}

.header__logo img {
    display: block;
    max-width: 100%;
}

.header__burger {
    display: none;
}

.header__menu {}

.header__list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
}

.header__link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    color: #fff;
    margin: 0 20px 0 0;
}

.content {}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.content__text {
    margin: 100px 0 0;
    font-size: 18px;
    line-height: 25px;
}

.content__text p {
    margin: 20px 0 0;
}

@media (max-width: 767px) {
    body.lock {
        overflow: hidden;
    }
    .header {
    }
    .container {}
    .header__body {
        flex-wrap: wrap;
        height: 50px;
    }
    .header__logo {
        flex: 0 0 40px;
    }
    .header__menu {
        position: fixed;
        left: 0;
        /* top: 0; */
        width: 100%;
        height: 100%;
        background-color: #18b5a4;
		overflow: auto;
		transition: all 0.3s ease 0s;
		padding: 70px 10px 20px 10px;
		overflow: auto;
    }


    .header__burger {
        display: block;
        width: 30px;
        height: 20px;
        position: relative;
        z-index: 3;
    }
    .header__burger::before, .header__burger::after {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #fff;
        transition: all 0.3 ease 0;
    }
    .header__burger::before {
        top: 0;
    }
    .header__burger::after {
        bottom: 0;
    }
    .header__burger span {
        position: absolute;
        top: 9px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #fff;
    }

    
    .header__list {
        display: block;
        z-index: 100;
    }
    .header__list li {
        display: block;
        width: 100%;
    }
    .header__link {}
}

/* 

@media (max-width:767px) {
	body.lock {
		overflow: hidden;
	}
	.header__body {
		height: 50px;
	}
	.header__logo {
		flex: 0 0 40px;
	}
	.header__menu {
		position: fixed;
		top: -100%;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		transition: all 0.3s ease 0s;
		background-color: #18b5a4;
		padding: 70px 10px 20px 10px;
	}
	.header__menu.active {
		top: 0;
	}
	.header__list {
		display: block;
	}
	.header__list li {
		margin: 0px 0px 20px 0px;
	}
	.header__link {
		font-size: 24px;
	}
	.header__burger {
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
		position: relative;
		z-index: 3;
	}
	.header__burger span {
		position: absolute;
		background-color: #fff;
		position: absolute;
		left: 0;
		width: 100%;
		height: 2px;
		top: 9px;
		transition: all 0.3s ease 0s;
	}
	.header__burger:before, .header__burger:after {
		content: '';
		background-color: #fff;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		transition: all 0.3s ease 0s;
	}
	.header__burger:before {
		top: 0;
	}
	.header__burger:after {
		bottom: 0;
	}
	.header__burger.active span {
		transform: scale(0);
	}
	.header__burger.active:before {
		transform: rotate(45deg);
		top: 9px;
	}
	.header__burger.active:after {
		transform: rotate(-45deg);
		bottom: 9px;
	}
} */